.locationCont{
    width: 100%;
    height: 25px;
    text-align: left;
    padding-left: 10px;
    color: #888;
}

.weatherLocationCont{
    width: 400px;
    padding: 15px;
    cursor: pointer;
}

.weatherLocationCont:hover{
    border: 1px black solid;
}